<html>

<head>


    <title>Mandy's learning Flask!</title>

<style>
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0px;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
    background-image: url("background.gif");
    background-repeat: repeat-y;
}

</style>

</head>


<body>

<p> <br>{{msg}} <br> </p> 

 <div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-5">
      {% for row in ingredients %}
          <p>{{ row }}</p>
        {% endfor %}
  </div>
  <div class="col-sm-5">
      {% for item in measurements %}
          <p>{{ item }}</p>
        {% endfor %}
  </div>
  <div class="col-sm-1"></div>
</div> <!--end row div-->
<div class = "row">
 <div class="col-sm-1"></div>
 <div class="col-sm-5">
  {{directions}}
<iframe src="//giphy.com/embed/LQdYIVhHureCI" width="480" height="304" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/excited-yes-muppets-LQdYIVhHureCI">via GIPHY</a></p>

<p
	<iframe style=".data" src="//giphy.com/embed/7o3hoeLWZY1LG" width="480" height="294" frameBorder="0" class="giphy-embed" allowFullScreen></p>
</div> <!--end .col-sm-5 -->
<div class="col-sm-1"></div>
</div> <!--end row-->
<p> 
</p>


</body>


</html>