<html>

<head>


    <title>Mandy's learning Flask!</title>

<style>
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0px;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
    background-image: url("background.gif");
    background-repeat: repeat-y;
}

</style>

</head>


<body>

<p> <br>
<center>
********************************************
<p> 	WELCOME TO THE MUG PROJECT
<br> 	   By Mandy C. Souza
<p> ********************************************
<p><br>
<p> N/A: This is a work in progress. In the future, you will be able to input your own recipe, and the app will scale down to a single serving. Not just for cakes, but any meal you'd like to make.

<p> SAFETY:
<br>Please make sure your mug can withstand high temperatures. Most mugs can (as they're made of glass, pure ceramic or procelain), but some can only hold hot liquids up to 212F. If you are not sure about what you have home, a good alternative is using a small (8oz and up) MASON JAR. Those are made to take high tempartures and will not bulge or break with heat.
<br>Be careful when touching either mug or mason jar after baking. None of them will look hot, but they will be!
<br>Happy baking!

<p> INSTRUCTIONS:
<br>Please type the number for the recipe you would like to bake.

<p> RECIPES TO CHOOSE FROM:
<p> 
<br>1. 	VANILLA CAKE
<br>2. 	CHOCOLATE CAKE
<br>3. 	RED VELVET CAKE
</center>

	<br> </p> 

 <div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-5">
      {% for row in ingredients %}
          <p>{{ row }}</p>
        {% endfor %}
  </div>
  <div class="col-sm-5">
      {% for item in measurements %}
          <p>{{ item }}</p>
        {% endfor %}
  </div>
  <div class="col-sm-1"></div>
</div> <!--end row div-->
<div class = "row">
 <div class="col-sm-1"></div>
 <div class="col-sm-5">
  {{directions}}
<iframe src="//giphy.com/embed/LQdYIVhHureCI" width="480" height="304" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/excited-yes-muppets-LQdYIVhHureCI">via GIPHY</a></p>

<p
	<iframe style=".data" src="//giphy.com/embed/7o3hoeLWZY1LG" width="480" height="294" frameBorder="0" class="giphy-embed" allowFullScreen></p>
</div> <!--end .col-sm-5 -->
<div class="col-sm-1"></div>
</div> <!--end row-->
<p> 
</p>


</body>


</html>